# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Environment
.env

# Node
node_modules/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
